@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #111;
}
section
{
    position: relative;
    padding: 100px;
}
.header
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header .logo
{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}
.header .toggle img
{
    max-width: 40px;
    cursor: pointer;
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner:before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top,#111,transparent);
}
.banner .content
{
    position: relative;
    max-width: 900px;
    text-align: center;
    z-index: 1;
}
.banner .content h2
{
    color: #fff;
    font-size: 5em;
}
.banner .content p
{
    color: #fff;
    font-size: 1.2em;
}
.btn
{
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    color: #333;
    text-decoration: none;
}
.fitBg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.about
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .contentBox
{
    min-width: 50%;
    width: 50%;
    text-align: end;
    padding-right: 40px;
}
.about imgBox
{
    position: relative;
    min-width: 50%;
    width: 50%;
    min-height: 500px;
}
.titleText
{
    font-weight: 600;
    color: #fff;
    font-size: 2em;
    margin-bottom: 10px;
}
.text 
{
    color: #fff;
    font-size: 1em;
}
.banner2
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner2:before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top,#111,transparent);   
}
.banner2:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom,#111,transparent);   
}
.rout
{
    text-align: center;
}
.rout .content
{
    text-align: center;
}
.rout .routList
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.rout .routList .box
{
    position: relative;
    min-width: 350px;
    height: 480px;
    background: #191919;
    transition: 0.5s;
    margin: 10px;
    color: #004d4d;
}
.rout .routList:hover .box
{
    opacity: 0.5;
}
.rout .routList .box:hover
{
    opacity: 1;
}
.rout .routList .box .imgBox
{
    position: relative;
    width: 100%;
    height: 400px;
}
.rout .routList .box .imgBox:hover
{
    transform: scale(1.1);
}
.rout .routList:hover .box .content
{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rout .routList:hover .box .content h2
{
    color: #fff;
    font-weight: 500;
    line-height: 1.2em;
}
#popup
{
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    /* max-height: 700px; */
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease 0s;
    overflow: hidden;
    z-index: 10;
}
#popup img
{
   width: 500px;
   height: auto;
}

#popup.active
{
    top: 40%;
    visibility: visible;
    opacity: 1;
}
#popup .popup_close
{
    position: absolute;
    right: 20px;
    top: 10px;
    text-decoration: none;
}
.wrapper h1
{
    padding: 30px 10px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.img-area
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.single-img
{
    position: relative;
    padding: 5px 5px 5px 5px;
    width: 400px;
    height: 300px;
    box-shadow: 0 0 10px 0 rgba(246, 244, 244, 0.486);
}
.single-img:hover
{
    transform: scale(1.1);
}
.single-img img
{
    padding: 5px 15px 15px 5px;
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer .sci
{
    position: relative;
    display: flex;
}
.footer .sci li
{
    list-style: none;
}
.footer .sci li a img
{
    filter: invert(1);
    max-width: 40px;
}
.footer_text
{
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    color: #666;
    text-align: center;
}
.guide_wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}
.guide
{
    position: relative;
    max-width: 80%;
    display: flex;
    justify-content: center;
    background: #111;
    opacity: 0.8;
    /* margin-top: 30px;
    padding: 15px; */
}
.guide p
{
    padding: 20px;
    font-size: 20px;
    color: #fff;
}
.guide p img
{
    float: left;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 10px;
}

@media (max-width: 767px)
{
    selection
    {
        padding: 40px;
    }
    .banner .content h2
    {
        font-size: 2.5em;
    }
    .banner .content p
    {
        font-size: 1em;
    }
    .about
    {
        flex-direction: column;
    }
    .about .contentBox
    {
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }
    .about .imgBox
    {
        min-height: 250px;
    }
    .btn
    {
        margin-bottom: 30px;
    }
    .rout .routList .box
    {
        position: relative;
        max-width: 350px;
        min-width: initial;
        width: 350px;
        height: 400px;
    }
    .rout .routList .box .imgBox
    {
        height: 320px;
    }
    #popup
    {
        max-width: 500px;
    }
    #popup img
    {
        width: 400px;
    }
    .wrapper_guide
    {
        flex-direction: left;
    }
     .guide
    {
        flex-direction: column;
        max-width: 350px;
    }
}